body {
  background-color: navy;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: aliceblue;
}

.card {
  height: 250px;
  width: 400px;
  margin: 0 auto;
  background-color: azure;
}

ul {
  list-style: none;
  font-weight: bold;
  font-size: 15px;
}

li {
  margin-top: 68px;
}

textarea,button{
  margin: 20 auto;
  display: block;
}

label {
  color: yellow;
  margin-left: 452px;
}

.test {
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
  margin-left: 500px;
}